body {
    width: 100%;
    height: 100 vh;
    background-color: yellow;

}


.header {
    width: 100%;
    height: 20vh;
    margin: 0 auto;
    background-color: salmon;
}

.main {
    background-color: teal;
    margin: 0 auto;
    width: 75%;
    height: 70vh;
}

.footer{
    background-color: #222222;
    margin: 0 auto;
    width: 75%;
    height: 10vh;
}